.hero {
    padding: 200px 0;
    background-color: var(--bgr-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    background-image: auto;
    
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-wite-color);
}

.hero__button{
    color: var(--main-wite-color);
    background-color: var(--main-br-btn-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    cursor: pointer;
    
}
