
.team {
    margin-top: 50px;
    display: flex;
    align-items:center;
}
.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__tamb {
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--main-wite-color);
}
.team__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.social {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.social__item + .social__item {
    margin-left: 10px;
}

.social__link {
    width: 44px;
    height: 44px;
    background-color: var(--main-wite-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background: var(--accent-color);
    .social__icon,
    .social__icon {
    fill: var(--main-wite-color);
    }
}
}
.social__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

