
sass/main.scss
sass/main.css.map
sass/main.css
sass/_header
portfolio.html
js/modal.js
index.html
images/tm4.jpg
images/tm3.jpg
images/tm2.jpg
images/tm1.jpg
images/pr9.jpg
images/pr8.jpg
images/pr7.jpg
images/pr6.jpg
images/pr5.jpg
images/pr4.jpg
images/pr3.jpg
images/pr2.jpg
images/pr1.jpg
images/phone-black.svg
images/person-black.svg
images/img-bg.jpg
images/icons.svg
images/icon-send.svg
images/email-black.svg
images/close.svg
images/check.svg
images/box3.jpg
images/box2.jpg
images/box1.jpg
css/styles.css
css/modern-normalize.css
.vscode/setting.json
.prettier.json
.gitattributes copy
