.open-mob-menu {
    background-color: transparent;
    @media screen and (min-width: 768px) {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    
    }
}
.menu__icon {
    background-color: transparent;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
    cursor: pointer;
    
}


.mob-menu {
    position: fixed;
    background-color: #fff;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.mob-menu__close {
    display: block;
    margin-left: auto;
    position: absolute;
    top: 11px;
    right: 11px;
    background-color: transparent;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        fill: var(--accent-color);}
}

.mob-menu__site-nav__item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:last-child) {
        margin-bottom: 32px;
    }
    font-weight: 500;
    font-size: 40px;
    line-height:1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    &:hover, &:focus {
        color: var(--accent-color);}
}
.mob-menu__site-nav__link--active {
    color: var(--accent-color);
}
.mob-menu__contacts {
    margin-bottom: 64px;
}
.mob-menu__contacts__phone {
    cursor: pointer;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.mob-menu__contacts__mail {
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:hover, &:focus {
        color: var(--accent-color);}
}
.mob-menu__social {
    display: flex;
    margin-bottom: 48px;
}
.mob-menu__social-item {
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    &:not(:first-child){
        margin-left: 20px;
    }
}
.mob-menu__social-item::after {
    content: "";
    height: 22px;
    width: 2px;
    background-color: rgba(223, 218, 218, 0.2);
    position: relative;
    display: block;
    border: 1px solid rgba(223, 218, 218, 0.2);
    top: -22px;
    right: 10px;
}