h1, h2, h3, h4, h5, h6, p {
    margin: 0;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
background-image {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
address {
    font-style: normal;
}
button {
    font-family: inherit;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 0px solid transparent;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}