:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-br-btn-color: #188CE8;
    --primary-br-btn-color: #F5F4FA;
    --main-wite-color:#FFFFFF;
    --contact-color: rgba(255, 255, 255, 0.6);
    --bgr-color: #2F303A;
}